<mat-toolbar color="primary">

    <section>
        <button (click)="paises()" mat-button>
            Paises <mat-icon>travel_explore</mat-icon>
        </button>

        <button (click)="modalidades()" mat-button>
            Modalidades <mat-icon>airline_seat_recline_normal</mat-icon>
            <mat-icon>more_vert</mat-icon>
            <mat-icon>computer</mat-icon>
        </button>

        <button (click)="cursos()" mat-button>
            Cursos <mat-icon>school</mat-icon>
        </button>

        <button (click)="cursos_modalidades()" mat-button>
            Cursos/Modalidades <mat-icon>school</mat-icon>
            <mat-icon>more_vert</mat-icon>
            <mat-icon>computer</mat-icon>
        </button>

        <button (click)="descuentos()" mat-button>
            Descuentos <mat-icon>price_change</mat-icon>
        </button>
    </section>


</mat-toolbar>
